<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello <%= @item.title %>!</p>
    <p>
    Account details<br>
    --------------------------
    </p>
    <p>Name: <%= @item.title %></p>
    <p>Price: <%= @item.price %></p>

    <p>
  </body>
</html>